* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #F2F2F2;
    padding-top: 53px;
}



.block {
    text-align: center;
    border: 1px dashed #ddd;
    padding: 100px 0;
    margin-bottom: 20px;
    font-size: 18px;
    background: #eeeeee; 
}

.header-menu {
    width:100%;
    padding: 17px 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background: #14B9D5;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-menu li a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.scroll-to-top {
    transition: .2s ease-in-out;
    right: 15px;
    bottom: 0;
    position: fixed;
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    background: #14B9D5;
    text-transform: uppercase;
    border: none;
    transform: scale(0);
}

.scroll-to-top.shown {
    transform: scale(1);
}

.scroll-to-top:focus{
    outline: none;
}

 .navigation-menu {
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
    padding-left: 20px;
}

.logo-left-container {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fefefe;
}

/* .logo-left {
    display: flex;
    align-items: center;
} */

.logo-text {
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
}

/* NAVIGATION */

.navigation-menu-list {
    display: flex;
    list-style: none;
}

.navigation-menu-item {
    margin-right: 20px;
}

.navigation-menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fefefe;
}

.search-img {
    background-color: #000;
    padding: 23px;
}

/* NAVIGATION */

.center-holder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro {
    background-image: url('../img/header-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 1.5em;
    color: #fefefe;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    max-width: 100%;
    height: 55px;
    color: white;
    margin: 0 20px;
}

.button-subscribe {
    background-color: #89CA62;
}

.button-article {
    background-color: #14B9D5;
}

.button-holder {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*Intro*/

.section-title {
    padding-top: 45px;
    font-weight: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #18B4CF;
    margin: 0 0 45px;
    text-align: center;
}

.most-popular {
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

.most-popular-posts-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    max-height: 900px;
}

.most-popular-item {
    width: calc(33.33% - 20px);
    background-color: #fefefe;
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
}

.most-popular-item img {
    max-width: 100%;
}

.most-popular-text {
    color: #353A3D;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.clients-section {
    background-image: url('../img/parallax-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 598px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.client-section-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: #fefefe;
    position: relative;
    margin-bottom: 120px;
}

.client-section-text::after {
    content: '';
    top: calc(100% + 30px);
    left: calc(50% - 30px);
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    position: absolute;
}

.clients-logo-holder {
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.another-background-color {
    background: #E5E5E5;
}


/* TOP RATED*/

.top-rated-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.top-rated-holder img {
    width: 100%;
}

.hide-section {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #14B9D5;
    text-transform: uppercase;
    border: none;
}

.hide-section:focus{
    outline: none;
}

.top-news-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    grid-template-rows: minmax(259px, auto);
    grid-gap: 50px;
    margin-bottom: 50px;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 60% 40%;
}

.top-news-item img {
    width: 100%;
}

.top-news-item {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.top-news-item-text {
    padding: 20px;
}

.top-news-title {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.top-news-title-center {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.top-news-description {
    text-align: right;
    font-size: 14px;
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: #000000;
    color: #fefefe;
}

.footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    padding: 25px;
    margin-top: 50px;
}

.footer p {
    align-self: center;
    margin: 0;
}

.footer-logo {
    display: grid;
    grid-column-start: -1;
}